<style>
    *{
    	font-family: Tahoma;
    }
    table, th, td{
        text-align: center;
        border-collapse: collapse;
        margin: 0 auto;
        padding: 5px 25px;
        font-family: Tahoma;
    }
    th {
      	text-align: center;
		color: #4f786f;
		text-shadow: 1px 1px 1px white;
		font-weight: bolder;
		font-size: 13px;
		padding-top: 0px;
		border-bottom: 3px solid #b8cbcd;
		padding-bottom: 15px;
    }
    tr:nth-child(even){
      	background: #b8cbcd;
    }
    h2{
      	text-align: center;
		color: #4f786f;
		text-shadow: 1px 1px 1px white;
		font-weight: bolder;
		font-size: 19px;
		padding-top: 10px;
		padding-bottom: 12px;
		background:  #b8cbcd;
		border-bottom: 3px solid #8aa4a7;
		margin-top: 80px;
    }
    body{
		background:  -webkit-radial-gradient(0% 50%, circle, #f3f2ec, #afc1c3);
		background:  -moz-radial-gradient(0% 50%, circle, #f3f2ec, #afc1c3);
		background:  -o-radial-gradient(0% 50%, circle, #f3f2ec, #afc1c3);
		background:  -ms-radial-gradient(0% 50%, circle, #f3f2ec, #afc1c3);
		background:  radial-gradient(0% 50%, circle, #f3f2ec, #afc1c3);
		width: 100%;
    }
    div{
        width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    a{
        text-decoration: none;
        color: #363636;
        font-family: Tahoma;
    }
    .one {
   		text-align: center;
		color: #73ce30;
		text-shadow: 1px 1px 1px #61a52f;
		font-weight: bolder;
		font-size: 68px;
		text-transform: uppercase;
		padding-left: 10px;
    }
    .two {
      	text-align: center;
		color: #e82b21;
		text-shadow: 1px 1px 1px #a02413;
		font-weight: bolder;
		font-size: 68px;
		text-transform: uppercase;
		padding-left: 10px;
    }

    .oneq {
      	text-align: center;
		color: #73ce30;
		font-size: 15px;
		padding-top: 10px;
		text-transform: uppercase;
		font-weight: bold;
    }
    .twoq {
      	text-align: center;
		color: #e82b21;
		font-size: 15px;
		padding-top: 10px;
		text-transform: uppercase;
		font-weight: bold;
    }
    p {
      	text-align: center;
    }
    .top {
      	text-align: center;
		color: #4f786f;
		text-shadow: 1px 1px 1px white;
		font-weight: bolder;
		font-size: 19px;
		margin-bottom: 30px;
		margin-top: 50px;
    }
    .yellow {
      	color: #e57c00;
      	font-weight: bold;
      	font-size: 15px;
    }
    .three {
      	text-align: center;
		color: #e57c00;
		text-shadow: 1px 1px 1px #b36304;
		font-weight: bolder;
		font-size: 68px;
		text-transform: uppercase;
		padding-left: 10px;
    }
    ul {
        text-align: center;
        padding: 0;
    }
    ul li {
        display: inline-block;
        margin: 0;
        padding: 0 20px;
    }
    li:nth-child(1) a {
        background: url(http://s61.radikal.ru/i173/1306/b1/9fee4e9f9bf0.png);
        display: block;
        width: 168px;
        height: 70px;
        text-decoration: none;
    }
    li:nth-child(2) a {
        background: url(http://s51.radikal.ru/i131/1306/8c/2c90bfe606c4.png);
        display: block;  
        width: 168px;
        height: 70px;
        text-decoration: none;
    }
    li:nth-child(3) a {
        background: url(http://s019.radikal.ru/i631/1306/be/c77d2c1b9837.png);
        display: block;
        width: 168px;
        height: 70px;
        text-decoration: none;
    }
</style>
<div>
	<ul>
        <li><a href="/home/indexone"></a></li>
        <li><a href="/home/index"></a></li>
        <li><a href="/games"></a></li>
    </ul>
    <p class="top">Победил:</p>
    <p>
        <%if @game.winner=="Browser"%>
              <span class="one">browser</span>
        <% else %>
              <span class="two">server</span>
        <% end %>
    </p>
    <p class="top">
        Количество ходов:
        <p><span class="three"><%= @game.steps %></span></p>
    </p>
    <h2>Ходы</h2>
    <table>
        <tr>
        	<th>Игрок</th>
        	<th>Количество палочек до хода</th>
        	<th>Количество взятых палочек</th>
        	<th>Ход сделан</th>
        </tr>
      	<% @game.pitches.each do |pitch| %>
      	<tr>
          	<td><%if pitch.player=="Browser"%>
              	<span class="oneq">browser</span>
       		<% else %>
              	<span class="twoq">server</span>
        	<% end %>
    		</td>
          	<td><%= pitch.all %></td>
      	  	<td class="yellow"> <%= pitch.take%> </td>
          	<td><%= pitch.created_at %></td>
        </tr> 
      	<% end %>
    </table>
</div>
